{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'banco/css/index.css' %}">
<link rel="stylesheet" href="{% static 'banco/css/tabela.css' %}">
<script src="https://kit.fontawesome.com/e5a4dcafd0.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<body class="fundo">
    <div class="container pt-4 ">
        <div class="row">
            <table class="table table-hover table-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Segmento</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Área</th>
                        <th scope="col">Assunto</th>
                        <th scope="col">Nível</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                {% for questao in questao %}
                    <tr>
                        <th scope="row">{{questao.id}}</th>
                        <td class="centralizar">
                            <a class="link-tabela" href="">
                                {{questao.nome}}
                            </a>
                        </td>
                        
                        <td class="centralizar">{% if questao.segmento == 'F'%}
                            Ensino Fundamental
                        {% else %}
                            Ensino Médio
                        {% endif %}
                        </td>
                        <td class="centralizar">{% if questao.ano == '1'%}
                                1º ano E.M.
                            {% elif questao.ano == '2'%}
                                2º ano E.M.
                            {% elif questao.ano == '3'%}
                                3º ano E.M.
                            {% elif questao.ano == '6'%}
                                6º ano
                            {% elif questao.ano == '7'%}
                                7º ano
                            {% elif questao.ano == '8'%}
                                8º ano
                            {% elif questao.ano == '9'%}
                                9º ano
                            {% endif %}
                        </td>
                        <td class="centralizar">{{questao.area}}</td>
                        <td class="centralizar">{{questao.assunto}}</td>
                        <td class="centralizar">{% if questao.nivel == 'Fa'%}
                                Fácil
                            {% elif questao.nivel == 'Me'%}
                                Médio
                            {% else %}
                                Difícil
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                <li class="limpar">
                                    <span><i class="fas fa-edit"></i></span>
                                    <span><i class="fas fa-trash"></i></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock %}